In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -2.140566  0.028685
1    a  two -1.644256 -0.288539
2    b  one  0.268946  1.196346
3    b  two -0.535135 -0.291086
4    a  one  0.191705 -0.285172

In [2]:

df.groupby(['key1','key2'])[['data1','data2']].max()

              data1     data2
key1 key2
a    one   0.191705  0.028685
     two  -1.644256 -0.288539
b    one   0.268946  1.196346
     two  -0.535135 -0.291086